@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../font/Lato-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway-Thin';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway-Thin'), local('Raleway-Thin'), url(../font/Raleway-Thin.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'OpenSansCondensed-Light';
    font-style: normal;
    font-weight: 200;
    src: local('OpenSansCondensed-Light'), local('OpenSansCondensed-Light'), url(../font/OpenSansCondensed-Light.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }

*{
    margin: 0;
}
body{
    padding: 17px;
    font-family: 'Lato';
}

/* menu style */
nav{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo:hover{
    cursor: pointer;
}
nav ul{
    list-style-type: none;
    padding: 0px;
    display: flex;
    margin-top: 10px;
}

nav a{
    text-decoration: none;
    text-align: center;
    margin: 25px;
    color: rgba(122, 131, 172, 0.856);
    font-family: 'Lato';
    font-size: 15px;
}
nav a:hover{
    color: blueviolet;
    cursor: pointer;
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}
.box-1{
    flex-grow: 9;
    width: 600px;
}
.box-1 img{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.box-2{
    width: 450px;
    flex-grow: 1;
}
#shareBtn{
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bolder;
    color: rgba(93, 99, 128, 0.856);
    margin-bottom: 10px;
    border: 1px solid rgba(163, 163, 163, 0.74);
    background-color: white;
}
.box-2 h1{
    font-size: 29px;
    margin-bottom: 5px;
}
.box-2 p{
    color:  rgba(116, 116, 116, 0.883);
    font-family: 'Raleway-Thin';
    font-weight: bolder;
}
.tags{
    display: flex;
    margin-top: 10px;
}
.tag{
    border: 1px solid rgba(163, 163, 163, 0.74);
    border-radius: 10px;
    padding: 6px;
    margin-right: 15px;
    color: rgba(93, 99, 128, 0.856);
}
.masters{
    text-align: center;
    border-top: 6px solid orangered;
    margin-top: 20px;
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 10px;
    padding-top: 20px;
    font-weight: bolder;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.masters h1, .masters p{
    padding-bottom: 20px;
    color: white;
}
button:hover{
    cursor: pointer;
}
.masters button{
    background: linear-gradient(-290deg, rgba(250, 74, 4, 0.931)60%, rgb(255, 102, 0));
    width: 250px;
    margin-bottom: 20px;
    height: 47px;
    border: none;
    border-radius: 50px; 
    color: white; 
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Raleway-Thin'; 
}
.sponsor{
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid rgba(163, 163, 163, 0.74);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 30px;
}
.Download{
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(120, 236, 240);
    border-radius: 5px;
}
.source{
    text-align: center;
    padding: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.source h3{
    margin-top: 50px;
    margin-bottom: 10px;
}
.color{
    height: 40px;
    width: 160px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}
.color:hover{
    cursor: pointer;
    border: 1px solid brown;
}
.colorimg{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: 10px;
}
.col1{
    background-color: brown;
}
.col2{
    background-color: #8372CB;
}
.col3{
    background-color: #342E2E;
}
.col4{
    background-color: #9D80D1;
}
.col5{
    background-color: #BF8ECF;
}
.col6{
    background-color: #B88963;
}
.palete{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    flex-flow: wrap;
}
.color p{
    color: black;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: 'OpenSansCondensed-Light';
    border-top: 1px solid rgba(141, 141, 141, 0.589);
    height: 40px;
    flex-flow: wrap;
}
.footer ul{
    display: flex;
    list-style-type: none;
    align-content: flex-start;
}
.footer a{
    text-decoration: none;
    text-align: center;
    margin-right: 30px;
    color: black;
}

@media (max-width: 767px)
{
    nav li{
        display: none;
    }
    .footer{
        height: 150px;
    }
    .footer ul{
        justify-content: center;
        justify-items: center;
    }
    .bottom{
        flex-basis: 100%;
        justify-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    nav li{
        display: none;
    }

}

@media (min-width: 992px) and (max-width:1199px)
{
    .box-2{
        padding-left: 15px;
        padding-right: 5px;
    }
}
@media (min-width: 1200px){
    .box-2{
        padding-left: 15px;
        padding-right: 5px;
    }
}